body {
    margin: 0;
    /* overflow: hidden; Prevent scrolling while loading */
}

#loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0a0a;
    z-index: 9999;
}

.logo-container {
    position: relative;
    width: 150px; /* Adjust size if needed */
    height: 600px; /* Adjust size if needed */
}

.hexagon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px; /* Adjust size if needed */
    height: 600px; /* Adjust size if needed */
}

.hexagon polygon {
    fill: none;
    stroke: #ff0000;
    stroke-width: 5;
    stroke-dasharray: 600; /* Adjusted for new size */
    stroke-dashoffset: -600; /* Negative value for anti-clockwise animation */
    animation: draw 2s linear forwards;
}

.letter {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #ff0000;
    opacity: 0;
    animation: fadeIn 1s 2s ease forwards; /* Start after the hexagon animation */
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#main-content {
    display: none; /* Hide main content initially */
}
